<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 new-blog">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Blog Title:</label>
        <input type="text" class="form-input" id="post-title" name="post-title"></input>
      </div>
      <div class="form-group">
        <label for="post-desc">Description: </label>
        <textarea class="form-control" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

  </div>

  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Blog Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <a href="/dashboard/delete/{{post.id}}"></a><button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
        <a href="/dashboard/edit/{{post.id}}"><button class="button btn btn-sm btn-success"> EDIT POST </button></a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./javascript/dashboard.js"></script>
<script src="./javascript/add-post.js"></script>